* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: black;
  color: aliceblue;
}

img {
  width: 100%;
  height: auto;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.newGameBtn button {
  background-color: rgb(198, 99, 99);
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  border-style: none;
  width: 135px;
  height: 50px;
  margin: 10px;
  padding: 5px;
}

.container h1 {
  margin: 10px 0;
}

.statistics {
  margin-bottom: 10px;
  letter-spacing: 0.7px;
}

.game-choises {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.game-choises button {
  width: 20%;
  border-style: none;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 30px;
}

button:hover {
  transform: scale(1.2);
}

#winner {
  font-size: 3em;
  margin: 20px;
}
